<div
  class="picker"
  *ngIf="(carElements$ | async) && (carElements$ | async) as carElements"
>
  <div class="picker__main">
    <div class="picker__main__title">
      <h3 class="picker__main__title__text">Paint color</h3>
      <mat-icon
        class="picker__main__title__exit"
        svgIcon="exit"
        (click)="backToSidebar()"
      ></mat-icon>
    </div>
    <ul class="picker__main__list">
      <li class="picker__main__list__item" *ngFor="let element of carElements">
        <app-element-item
          class="picker__main__list__item__element"
          [element]="element"
          [configuration]="configuration"
          [editing]="editing"
        ></app-element-item>
      </li>
    </ul>
  </div>
  <div class="picker__final">
    <div class="picker__final__price">
      <div class="picker__final__price__total">
        <p class="picker__final__price__total__text mat-body-2">
          {{'total' | uppercase}}
        </p>
        <mat-icon
          class="picker__final__price__total__icon"
          svgIcon="info"
        ></mat-icon>
      </div>
      <h3 class="picker__final__price__value">{{configuration.price}} €</h3>
    </div>
    <button class="picker__final__button" mat-button (click)="backToSidebar()">
      Done
      <mat-icon class="picker__final__button__icon" svgIcon="next"></mat-icon>
    </button>
  </div>
</div>
