<div class="element" (click)="changeElement(element)">
  <div class="element__image">
    <img class="element__image__img" [src]="element.thumbnail" />
    <mat-icon
      class="element__image__icon"
      svgIcon="checkmark"
      *ngIf="configuration | isElementChecked: editingProperty:element"
    ></mat-icon>
  </div>
  <div class="element__text">
    <p class="element__text__name">{{ element.name }}</p>
    <p
      class="element__text__price mat-body-2"
      *ngIf="configuration | isElementChecked: editingProperty:element"
    >
      {{ element.price | currency }}
    </p>
  </div>
</div>
