@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.element {
  display: flex;
  align-items: center;

  &__image {
    display: flex;
    flex: 1 1 0;
    &__img {
      width: 60%;
      border-radius: 60px;
    }

    &__icon {
      align-self: flex-end;
      margin: 0 0 0 -20%;
      color: mat.get-color-from-palette($success, normal);
    }
  }

  &__text {
    flex: 2 1 0;

    &__name {
      margin: 0;
    }

    &__price {
      margin: 0;
      color: mat.get-color-from-palette($ux-colors, A500);
    }
  }
}
