@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.configuration {
  background-color: mat.get-color-from-palette($ux-colors, A100);
  display: flex;
  justify-content: space-between;

  &__main {
    display: flex;
    &__img {
      width: 50%;
    }

    &__divider {
      height: 100%;
      color: mat.get-color-from-palette($ux-colors, A300);
      margin: 30px 28px 30px 40px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 28px 30px 0;
      &__group {
        &__subtitle {
          color: mat.get-color-from-palette($ux-colors, A500);
          letter-spacing: 2px;
          margin-bottom: 8px;
        }

        &__name {
          color: mat.get-color-from-palette($primary, 500);
          font-size: 36px;
        }
      }

      &__date {
        margin: 0;
        color: mat.get-color-from-palette($ux-colors, A400);
      }
    }
  }

  &__menu {
    &__button {
      &__icon {
        color: mat.get-color-from-palette($primary, 200);
        cursor: pointer;
      }
    }
    &__items {
      &__item {
        background-color: mat.get-color-from-palette($ux-colors, A100);
        &__edit {
          color: mat.get-color-from-palette($primary, 400);
        }
        &__delete {
          color: mat.get-color-from-palette($error, normal);
        }
      }
    }
  }
}
