@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.cars {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  background-color: mat.get-color-from-palette($ux-colors, A200);
  padding-top: 82px;

  &__text {
    grid-column: 2 / 6;

    &__description {
      color: mat.get-color-from-palette($ux-colors, A500);
    }
  }

  &__list {
    grid-column: 2 / 13;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style-type: none;
    display: flex;
    margin-bottom: 136px;
    padding: 0;

    &__item {
      min-width: 44%;
      background-color: mat.get-color-from-palette($ux-colors, A100);
      margin-right: 32px;
    }
  }
}
