@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.cars {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100vh - 162px);
  column-gap: 12px;
  background-color: mat.get-color-from-palette($ux-colors, A200);
  padding-top: 82px;

  &__subtitle {
    grid-column: 2 / 5;
  }

  &__description {
    grid-column: 2 / 6;
    color: mat.get-color-from-palette($ux-colors, A500);
  }

  &__list {
    grid-column: 2 / 13;
    padding: 0;
    overflow-x: scroll;
    list-style-type: none;
    display: flex;

    &__item {
      min-width: 40%;
      background-color: mat.get-color-from-palette($ux-colors, A100);
      margin-right: 32px;
    }
  }
}
