@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.summary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  background-color: mat.get-color-from-palette($ux-colors, A200);

  &__nav {
    grid-column: 1 / 13;
    background-color: mat.get-color-from-palette($ux-colors, A100);
    border-bottom: 1px solid mat.get-color-from-palette($ux-colors, A300);
  }

  &__text {
    grid-column: 5 / 9;
    text-align: center;
    margin: 48px 0 40px 0;
    @media screen and (max-width: 768px) {
      grid-column: 2 / 12;
    }
  }

  &__slider {
    grid-column: 2 / 12;
    margin-bottom: 92px;
    align-self: center;
    @media screen and (max-width: 768px) {
      grid-column: 1 / 13;
    }
  }

  &__info {
    grid-column: 2 / 12;
  }

  &__footer {
    grid-column: 1 / 13;
    background-color: mat.get-color-from-palette($ux-colors, A100);
    border-top: 1px solid mat.get-color-from-palette($ux-colors, A300);
  }
}
