@use '@angular/material' as mat;
@import '../scss/colors.scss';

.header {
  background-color: mat.get-color-from-palette($ux-colors, A700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }

  &__logo {
    color: mat.get-color-from-palette($ux-colors, A100);
  }

  &__menu {
    &__button {
      &__icon {
        color: mat.get-color-from-palette($ux-colors, A100);
      }
    }
  }
}
