<header class="header">
  <mat-icon class="header__logo" svgIcon="logo"></mat-icon>
  <div class="header__menu" *ngIf="user$ | async">
    <button
      class="header__menu__button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon class="header__menu__button__icon">short_text</mat-icon>
    </button>
    <mat-menu class="custom-menu" #menu="matMenu">
      <button mat-menu-item routerLink="/">
        My saved configurations
      </button>
      <button mat-menu-item (click)="signOut()">
        Log out
      </button>
    </mat-menu>
  </div>
</header>
<router-outlet></router-outlet>
