<div class="sidebar">
  <div class="sidebar__items">
    <div
      class="sidebar__items__item"
      (click)="updateEditingEnum(editedEnum.interiors)"
    >
      <div class="sidebar__items__item__image">
        <img
          class="sidebar__items__item__image__img"
          src="{{configuration.interior.thumbnail}}"
        />
        <mat-icon
          class="sidebar__items__item__image__icon"
          svgIcon="checkmark"
        ></mat-icon>
      </div>
      <div class="sidebar__items__item__text">
        <p class="sidebar__items__item__text__name">
          {{configuration.interior.name}}
        </p>
        <p class="sidebar__items__item__text__description mat-caption">
          COLOR
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar__final">
    <div class="sidebar__final__price">
      <div class="sidebar__final__price__total">
        <h3 class="sidebar__final__price__total__text mat-body-2">
          TOTAL
        </h3>
        <mat-icon
          class="sidebar__final__price__total__icon"
          svgIcon="info"
        ></mat-icon>
      </div>
      <h3 class="sidebar__final__price__value">
        {{configuration | finalConfigurationPrice}} €
      </h3>
    </div>
    <button
      class="sidebar__final__button lighter-button-text"
      mat-button
      routerLink="../summary"
    >
      Summary
      <mat-icon class="sidebar__final__button__icon" svgIcon="next"></mat-icon>
    </button>
  </div>
</div>
