<div class="sidebar">
  <div class="sidebar__items">
    <div
      class="sidebar__items__item"
      (click)="updateEditingEnum(editedEnum.colors)"
    >
      <div class="sidebar__items__item__image">
        <img
          class="sidebar__items__item__image__img"
          src="{{configuration.color.thumbnail}}"
        />
        <mat-icon
          class="sidebar__items__item__image__icon"
          svgIcon="checkmark"
        ></mat-icon>
      </div>
      <div class="sidebar__items__item__text">
        <p class="sidebar__items__item__text__name">
          {{configuration.color.name}}
        </p>
        <p class="sidebar__items__item__text__description mat-caption">
          PAINT COLOR
        </p>
      </div>
    </div>
    <div
      class="sidebar__items__item"
      (click)="updateEditingEnum(editedEnum.wheels)"
    >
      <div class="sidebar__items__item__image">
        <img
          class="sidebar__items__item__image__img"
          src="{{configuration.wheel.thumbnail}}"
        />
        <mat-icon
          class="sidebar__items__item__image__icon"
          svgIcon="checkmark"
        ></mat-icon>
      </div>
      <div class="sidebar__items__item__text">
        <p class="sidebar__items__item__text__name">
          {{configuration.wheel.name}}
        </p>
        <p class="sidebar__items__item__text__description mat-caption">
          WHEELS
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar__final">
    <div class="sidebar__final__price">
      <div class="sidebar__final__price__total">
        <p class="sidebar__final__price__total__text mat-body-2">
          TOTAL
        </p>
        <mat-icon
          class="sidebar__final__price__total__icon"
          svgIcon="info"
        ></mat-icon>
      </div>
      <h3 class="sidebar__final__price__value">{{configuration.price}} €</h3>
    </div>
    <button class="sidebar__final__button" mat-button routerLink="../interior">
      Interior
      <mat-icon class="sidebar__final__button__icon" svgIcon="next"></mat-icon>
    </button>
  </div>
</div>
