@import '@angular/material/theming';

$custom-primary: (
  50: #e1e4e9,
  100: #b4bcc8,
  200: #828fa4,
  300: #50627f,
  400: #2b4063,
  500: #051e48,
  600: #041a41,
  700: #041638,
  800: #031230,
  900: #010a21,
  A100: #5d76ff,
  A200: #2a4aff,
  A400: #0025f6,
  A700: #0021dd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$custom-accent: (
  50: #fdf1e6,
  100: #f9dcc1,
  200: #f6c598,
  300: #f2ad6e,
  400: #ef9c4f,
  500: #ec8a30,
  600: #ea822b,
  700: #e77724,
  800: #e46d1e,
  900: #df5a13,
  A100: #ffffff,
  A200: #ffe6da,
  A400: #ffc3a7,
  A700: #ffb18e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$custom-warning: (
  50: #f7e1e1,
  100: #ecb3b3,
  200: #df8080,
  300: #d24d4d,
  400: #c92727,
  500: #bf0101,
  600: #b90101,
  700: #b10101,
  800: #a90101,
  900: #9b0000,
  A100: #ffc6c6,
  A200: #ff9393,
  A400: #ff6060,
  A700: #ff4747,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);
