@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.item {
  display: flex;
  align-items: center;
  margin: 40px;
  cursor: pointer;
  gap: 20px;

  &__image {
    display: flex;
    align-items: flex-end;
    &__img {
      width: 60px;
      border-radius: 60px;
    }

    &__icon {
      margin: 0 0 0 -20%;
      color: mat.get-color-from-palette($success, normal);
    }
  }

  &__text {
    &__name {
      margin-bottom: 4px;
      white-space: nowrap;
    }

    &__description {
      color: mat.get-color-from-palette($ux-colors, A500);
      letter-spacing: 2px;
      white-space: nowrap;
    }
  }
}
