<div class="picker" *ngIf="(wheels$ | async) && (wheels$ | async) as wheels">
  <div class="picker__main">
    <div class="picker__main__title">
      <h3 class="picker__main__title__text">Wheels</h3>
      <mat-icon
        class="picker__main__title__exit"
        svgIcon="exit"
        (click)="backToSidebar()"
      ></mat-icon>
    </div>
    <ul class="picker__main__list">
      <li class="picker__main__list__item" *ngFor="let wheel of wheels">
        <app-element-item
          class="picker__main__list__item__element"
          [element]="wheel"
          [configuration]="configuration"
          editingProperty="wheel"
          (changeElementEvent)="changeElement($event)"
        ></app-element-item>
      </li>
    </ul>
  </div>
  <div class="picker__final">
    <div class="picker__final__price">
      <div class="picker__final__price__total">
        <p class="picker__final__price__total__text mat-body-2">
          TOTAL
        </p>
        <mat-icon
          class="picker__final__price__total__icon"
          svgIcon="info"
        ></mat-icon>
      </div>
      <h3 class="picker__final__price__value">
        {{configuration | finalConfigurationPrice}} €
      </h3>
    </div>
    <button
      class="picker__final__button lighter-button-text"
      mat-button
      (click)="backToSidebar()"
    >
      Done
    </button>
  </div>
</div>
