@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    &__item {
      display: flex;
      align-items: center;
      margin: 40px;
      cursor: pointer;
      gap: 20px;

      &__image {
        display: flex;
        align-items: flex-end;
        &__img {
          width: 60px;
          border-radius: 60px;
        }

        &__icon {
          margin: 0 0 0 -20%;
          color: mat.get-color-from-palette($success, normal);
        }
      }

      &__text {
        &__name {
          margin-bottom: 4px;
          white-space: nowrap;
        }

        &__description {
          color: mat.get-color-from-palette($ux-colors, A500);
          letter-spacing: 2px;
          white-space: nowrap;
        }
      }
    }
  }

  &__final {
    display: flex;
    flex-direction: column;

    &__price {
      display: flex;
      justify-content: space-between;
      margin: 24px 40px;

      &__total {
        display: flex;
        gap: 8px;
        align-items: center;

        &__text {
          color: mat.get-color-from-palette($ux-colors, A400);
          margin: 0px;
          letter-spacing: 2px;
        }

        &__icon {
          color: mat.get-color-from-palette($primary, 200);
        }
      }

      &__value {
        margin: 0px;
        white-space: nowrap;
      }
    }

    &__button {
      display: flex;
      background-color: mat.get-color-from-palette($primary, 500);
      justify-content: center;
      align-items: center;
      padding: 12px;

      &__icon {
        color: mat.get-color-from-palette($ux-colors, A100);
      }
    }
  }
}
