<div class="emailDialog" mat-dialog-content>
  <h3 class="emailDialog__title" mat-dialog-title>Reset your password</h3>
  <form
    class="emailDialog__form"
    [formGroup]="emailForm"
    (ngSubmit)="sendEmail()"
  >
    <mat-form-field class="emailDialog__form__field" appearance="outline">
      <mat-label class="emailDialog__form__field__label">Email</mat-label>
      <input
        class="emailDialog__form__field__input"
        matInput
        required
        placeholder="example@gmail.com"
        type="email"
        autocomplete="on"
        formControlName="emailReset"
      />
      <mat-error
        class="emailDialog__form__field__error"
        *ngIf="emailForm.hasError('emailReset')"
        >{{emailForm.getError('emailReset')}}</mat-error
      >
    </mat-form-field>
    <div class="emailDialog__form__actions" mat-dialog-actions>
      <button
        class="emailDialog__form__actions__submit"
        mat-button
        mat-dialog-close
        type="submit"
        [disabled]="!emailForm.valid"
      >
        Send email
      </button>
      <button
        class="emailDialog__form__actions__close"
        mat-button
        mat-dialog-close
      >
        Close
      </button>
    </div>
  </form>
</div>
