.emailDialog {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  margin: 0;
  padding: 40px;

  &__form__actions {
    justify-content: center;
  }
}
