@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.emailDialog {
  padding: 40px;
  background-color: mat.get-color-from-palette($ux-colors, A100);
  &__form {
    &__field__error {
      color: mat.get-color-from-palette($error, normal);
    }

    &__actions {
      justify-content: center;

      &__submit {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }
  }
}
